# DSC 540
# Week 7&8
# Author: Muthukumar Kadhirvel
# 5/3/2022

# Milestone 3

Create a pandas dataframe of the 50 highest grossing films

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_highest-grossing_films'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'lxml')
table_data = soup.find("table", {"class":'wikitable sortable plainrowheaders'})
headers = []
for i in table_data.find("tbody").find("tr").findAll("th"):
    headers.append(i.getText().strip())
rows = []
# The third column is a header field and so we need to take the first 2 "tr" records and then the "th" record and then the
# last 3 "tr" records.
for i in table_data.findAll("tr")[1:]:
    sub_rows = []
    for x in i.findAll("td", limit=2):
        sub_rows.append(x.getText().strip())
    for x in i.findAll("th"):
        sub_rows.append(x.getText().strip())
    for x in i.findAll("td")[2:]:
        sub_rows.append(x.getText().strip())
    rows.append(sub_rows)
eng_df = pd.DataFrame(rows,columns=headers)
print(eng_df.head())

  Rank Peak                         Title Worldwide gross  Year Reference(s)
0    1    1                        Avatar  $2,847,246,203  2009   [# 1][# 2]
1    2    1             Avengers: Endgame  $2,797,501,328  2019   [# 3][# 4]
2    3    1                       Titanic  $2,187,425,379  1997   [# 5][# 6]
3    4    3  Star Wars: The Force Awakens  $2,068,223,624  2015   [# 7][# 8]
4    5    4        Avengers: Infinity War  $2,048,359,754  2018  [# 9][# 10]

Create a pandas dataframe of the 50 highest grossing Non English films

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_highest-grossing_non-English_films'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'lxml')
table_data = soup.find("table", {"class":'wikitable sortable'})
headers = []
for i in table_data.find("tbody").find("tr").findAll("th"):
    headers.append(i.getText().strip())
rows = []
for i in table_data.findAll("tr")[1:]:
    sub_rows = []
    for x in i.findAll("td"):
        sub_rows.append(x.getText().strip())
    rows.append(sub_rows)
non_eng_df = pd.DataFrame(rows,columns=headers)
print(non_eng_df.head())

  Rank             English title[b] Original title Primarylanguage(s)[c]  \
0    1  The Battle at Lake Changjin            长津湖              Mandarin
1    2               Wolf Warrior 2            战狼2  Mandarin[19][20][21]
2    3                      Hi, Mom         你好，李焕英              Mandarin
3    4                       Ne Zha        哪吒之魔童降世              Mandarin
4    5          The Wandering Earth           流浪地球              Mandarin

  Countryof origin Worldwidegross (in US$)  Year       Ref
0            China            $913 million  2021  [17][18]
1            China            $874 million  2017      [22]
2            China            $848 million  2021      [23]
3            China            $743 million  2019      [24]
4            China            $699 million  2019      [25]

Step 1 - Drop Unnecessary columns                                                                                               
We are dropping the following columns as they have data that is irrelevant to the problem we are trying to solve.
Rank/Peak/References/Original title

In [3]:
eng_df = eng_df.drop(['Rank','Peak','Reference(s)'], axis=1)
non_eng_df = non_eng_df.drop(['Rank','Original title','Ref'], axis=1)
print(eng_df.head())
print(non_eng_df.head())

                          Title Worldwide gross  Year
0                        Avatar  $2,847,246,203  2009
1             Avengers: Endgame  $2,797,501,328  2019
2                       Titanic  $2,187,425,379  1997
3  Star Wars: The Force Awakens  $2,068,223,624  2015
4        Avengers: Infinity War  $2,048,359,754  2018
              English title[b] Primarylanguage(s)[c] Countryof origin  \
0  The Battle at Lake Changjin              Mandarin            China
1               Wolf Warrior 2  Mandarin[19][20][21]            China
2                      Hi, Mom              Mandarin            China
3                       Ne Zha              Mandarin            China
4          The Wandering Earth              Mandarin            China

  Worldwidegross (in US$)  Year
0            $913 million  2021
1            $874 million  2017
2            $848 million  2021
3            $743 million  2019
4            $699 million  2019

Step 2 - Rearrange & Replace Headers                                                                                           We will rename and rearrange the columns to make more sense in the order of impactful columns.                                 
We will add new Language and Country columns to the eng_df to make it standard alongside non_eng_df

In [4]:
eng_df.rename(columns = {'Worldwide gross':'Worldwide_Gross(Million$)'}, inplace = True)
non_eng_df.rename(columns = {'English title[b]':'Title', 'Primarylanguage(s)[c]':'Language'}, inplace = True)
non_eng_df.rename(columns = {'Countryof origin':'Country', 'Worldwidegross (in US$)':'Worldwide_Gross(Million$)'}, inplace = True)
eng_df['Language'] = 'English'
eng_df['Country'] = 'USA'
eng_df = eng_df[['Title','Country','Language','Year','Worldwide_Gross(Million$)']]
non_eng_df = non_eng_df[['Title','Country','Language','Year','Worldwide_Gross(Million$)']]
print(eng_df.head())
print(non_eng_df.head())

                          Title Country Language  Year  \
0                        Avatar     USA  English  2009
1             Avengers: Endgame     USA  English  2019
2                       Titanic     USA  English  1997
3  Star Wars: The Force Awakens     USA  English  2015
4        Avengers: Infinity War     USA  English  2018

  Worldwide_Gross(Million$)
0            $2,847,246,203
1            $2,797,501,328
2            $2,187,425,379
3            $2,068,223,624
4            $2,048,359,754
                         Title Country              Language  Year  \
0  The Battle at Lake Changjin   China              Mandarin  2021
1               Wolf Warrior 2   China  Mandarin[19][20][21]  2017
2                      Hi, Mom   China              Mandarin  2021
3                       Ne Zha   China              Mandarin  2019
4          The Wandering Earth   China              Mandarin  2019

  Worldwide_Gross(Million$)
0              $913 million
1              $874 million
2              $848 million
3              $743 million
4              $699 million

Step 3 - Format data into a more readable format                                                                               
Convert Gross to a standard format across both the dataframes                                                                   
Country and Language has multiple values and so keep only the first value

In [5]:
# Remove invalid characters and '$' and ',' from the Gross so it can be converted to numerics and then to millions
temp = eng_df['Worldwide_Gross(Million$)'].astype(str).str.lstrip("F8")
temp = temp.astype(str).str.replace('[$,]', '')
millions = pd.to_numeric(temp, errors='coerce')/1e6
eng_df['Worldwide_Gross(Million$)'] = millions.round(2).astype(str)
# Remove million and '$' from the Gross 
temp = non_eng_df['Worldwide_Gross(Million$)'].astype(str).str.replace('million', '')
temp = temp.astype(str).str.replace('$', '')
millions = pd.to_numeric(temp, errors='coerce')
non_eng_df['Worldwide_Gross(Million$)'] = millions.round(2).astype(str)
# Keep only the first value 
non_eng_df['Country'] = [x.split('\n')[0] for x in non_eng_df['Country']]
non_eng_df['Language'] = [x.split('\n')[0] for x in non_eng_df['Language']]
non_eng_df['Language'] = [x.split('[')[0] for x in non_eng_df['Language']]
print(eng_df.head())
print(non_eng_df.head())

                          Title Country Language  Year  \
0                        Avatar     USA  English  2009
1             Avengers: Endgame     USA  English  2019
2                       Titanic     USA  English  1997
3  Star Wars: The Force Awakens     USA  English  2015
4        Avengers: Infinity War     USA  English  2018

  Worldwide_Gross(Million$)
0                   2847.25
1                    2797.5
2                   2187.43
3                   2068.22
4                   2048.36
                         Title Country  Language  Year  \
0  The Battle at Lake Changjin   China  Mandarin  2021
1               Wolf Warrior 2   China  Mandarin  2017
2                      Hi, Mom   China  Mandarin  2021
3                       Ne Zha   China  Mandarin  2019
4          The Wandering Earth   China  Mandarin  2019

  Worldwide_Gross(Million$)
0                     913.0
1                     874.0
2                     848.0
3                     743.0
4                     699.0

C:\Users\Muthu\AppData\Local\Temp/ipykernel_10888/3307390705.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  temp = temp.astype(str).str.replace('[$,]', '')
C:\Users\Muthu\AppData\Local\Temp/ipykernel_10888/3307390705.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  temp = temp.astype(str).str.replace('$', '')

Step 4 - Combine datasets                                                                                                       
Combine both the datasets into a single dataframe

In [6]:
movies_df = pd.concat([eng_df,non_eng_df],ignore_index=True)
print(movies_df)

                             Title    Country   Language  Year  \
0                           Avatar        USA    English  2009
1                Avengers: Endgame        USA    English  2019
2                          Titanic        USA    English  1997
3     Star Wars: The Force Awakens        USA    English  2015
4           Avengers: Infinity War        USA    English  2018
..                             ...        ...        ...   ...
95                     Better Days      China   Mandarin  2019
96                     Raging Fire  Hong Kong  Cantonese  2021
97          My Country, My Parents      China   Mandarin  2021
98             A Little Red Flower      China   Mandarin  2020
99  Crouching Tiger, Hidden Dragon      China   Mandarin  2000

   Worldwide_Gross(Million$)
0                    2847.25
1                     2797.5
2                    2187.43
3                    2068.22
4                    2048.36
..                       ...
95                     226.0
96                     225.0
97                     221.0
98                     216.0
99                     214.0

[100 rows x 5 columns]

Step 5 - Add new column                                                                                                          Add a new Rank column that orders it based on Worldwide Gross

In [7]:
movies_df['Worldwide_Gross(Million$)'] = movies_df['Worldwide_Gross(Million$)'].astype(float)
movies_df = movies_df.sort_values(by=['Worldwide_Gross(Million$)'],ignore_index=True,ascending=False)
movies_df.insert(0, 'Rank', range(1, 1 + len(movies_df)))
print(movies_df)

    Rank                           Title    Country   Language  Year  \
0      1                          Avatar        USA    English  2009
1      2               Avengers: Endgame        USA    English  2019
2      3                         Titanic        USA    English  1997
3      4    Star Wars: The Force Awakens        USA    English  2015
4      5          Avengers: Infinity War        USA    English  2018
..   ...                             ...        ...        ...   ...
95    96                     Better Days      China   Mandarin  2019
96    97                     Raging Fire  Hong Kong  Cantonese  2021
97    98          My Country, My Parents      China   Mandarin  2021
98    99             A Little Red Flower      China   Mandarin  2020
99   100  Crouching Tiger, Hidden Dragon      China   Mandarin  2000

    Worldwide_Gross(Million$)
0                     2847.25
1                     2797.50
2                     2187.43
3                     2068.22
4                     2048.36
..                        ...
95                     226.00
96                     225.00
97                     221.00
98                     216.00
99                     214.00

[100 rows x 6 columns]